<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.seo_title;

  if (is_archive()){
    var archive_title = "Post Archive";
    title = __(archive_title);

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('Tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %><% } else { %> <%= config.seotitle %> <% } %></title>

  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <!-- Load main css file: -->
  <%- css('css/styles') %>
  <%- partial('google-analytics') %>
  <!-- load google font: -->
  <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
  <!-- Font Awesome JS: -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.11/js/all.js" integrity="sha384-ImVoB8Er8knetgQakxuBS4G3RSkyD8IZVVQCAnmRJrDwqJFYUE4YOv+DbIofcO9C" crossorigin="anonymous"></script>
  <!-- Load custom stylesheet for post if one is specified in front matter: -->
  <% if (page.custom_stylesheet){ %>
    <link rel="stylesheet" href="<%- page.custom_stylesheet %>">
  <% } %>
</head>
