<% if (post.link){ %>
  <h2 class="post__header-title">
    <a class="<%= class_name %>" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title %></a>
  </h2>
<% } else if (post.title){ %>
  <% if (index){ %>
    <div class="post__header-wrap">
      <% if (post.layout === 'post'){ %>
        <div class="post__meta-wrap center-text">
          <%- partial('date', {class_name: 'post__meta-date', date_format: config.date_format}) %>
        </div>
      <% } %>
      <h2 class="post__header-title">
        <a class="<%= class_name %>" href="<%- url_for(post.path) %>"><%= post.title %></a>
      </h2>
      <p class="post__subtitle"><%- post.subtitle %></p>
    </div>
  <% } else { %>
    <% if (post.layout === 'post'){ %>
      <div class="post__meta-wrap center-text">
        <%- partial('date', {class_name: 'post__meta-date', date_format: null}) %>
      </div>
    <% } %>
    <h1 class="post__header-title">
      <%= post.title %>
    </h1>
    <p class="post__subtitle"><%- post.subtitle %></p>
  <% } %>
<% } %>
