<article id="<%= post.layout %>-<%= post.type %>" class="post box-shadow article-type-<%= post.layout %> <%= post.layout %>-<%= post.type %>">

  <div class="post__inner">
    <% if (post.link || post.title){ %>
      <header class="post__header">
        <div class="post__icon-wrap">
          <% if (index && post.icon){ %>
            <img class="post__icon-img" src="<%= post.icon %>" />
          <% } %>
        </div>
        <%- partial('post/title', {class_name: 'post__header-link'}) %>
      </header>
    <% } %>
    <div class="post__body">
      <% if (index){ %>

        <!-- <% if (post.excerpt){ %>
          <p class="post__excerpt">
             <%- post.excerpt %>
          </p>
          <% if (theme.excerpt_link){ %>
            <p class="post__read-more">
              <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
            </p>
          <% } %>
        <% } %> -->
      <% } else { %>
        <% if (post.type === "project"){ %>
          <div class="page__technologies-list">

              <span class="page__technologies-items">
                <%- post.technologies.join('  |  ') %>
              </span>

          </div>

          <div class="page__header-links">
            <% if (post.live_link){ %>
              <a target="_blank" href="<%= post.live_link %>" class="page__header-link cta">View Live Project</a>
            <% } %>
            <% if (post.github_link){ %>
            <a target="_blank" href="<%= post.github_link %>" class="page__header-link cta">View Code</a>
            <% } %>
          </div>
        <% } %>
        <div class="post__content">
        <%- post.content %>
      </div>
        <% if (post.type === "project"){ %>
          <div class="page__back">
            <a href="../" class="cta">Back to projects</a>
          </div>
        <% } %>
      <% } %>
    </div>
    <footer class="post__footer">
      <%- partial('post/tag') %>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>

</article>
